<!DOCTYPE html>
<head>
  <title>Node: Workshop 2</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <header>
    <h1>Node: Workshop 2</h1>
  </header>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/3') %>
      <div class="box answer">
        <h3>Answer</h3>
        <img 
        src ="<%- homer.imageUrl %>"
        alt = "<%- homer.name %>"
        style = "max-height: 150px;"/>
        <p> <%- homer.name %></p>
        <p> <%- homer.dob %></p>
        <p> <%- homer.profession %></p>
        <p> <%- homer.favoriteFood %></p>
        <p> <%- homer.favoriteBeverage %></p>
        <h4>Back to question 2</h4>
        <a href="/question2">Question 2</a>
        <h4>Onto to Question 4</h4>
        <a href="/question4">Question 4</a>
        <!-- render answer here -->
        <!-- For this exercise, do the same as the past ones but in order to access all the information in 'homer', you must access all the variables. EG: homer.name -->
      </div>
    </div>
  </div>
</body>
